---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.svelte";
import Hero from "../components/Hero.svelte";
import Team from "../components/Team.astro";
import Services from "../components/Services.astro";
import PropertyInquiry from "../components/PropertyInquiry.svelte";
import PaymentCalculator from "../components/PaymentCalculator.svelte";
import Testimonials from "../components/Testimonials.svelte";
import SocialFeed from "../components/SocialFeed.astro";
import Contact from "../components/Contact.svelte";
import Footer from "../components/Footer.astro";
import StickyCTA from "../components/StickyCTA.astro";
---

<Base>
  <Header client:load />
  <StickyCTA />
  <div class="motion-safe:animate-page-reveal origin-top">
    <main>
      <Hero client:load />
      <Team />
      <Services />
      <PropertyInquiry client:load />
      <PaymentCalculator client:load />
      <Testimonials client:load />
      <SocialFeed />
      <Contact client:load />
    </main>
    <Footer />
  </div>

</Base>
